Release - Meet Analyzer (1).json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"onedriveforbusiness_Connection_Name":{"defaultValue":"onedriveforbusiness","type":"String","metadata":{"description":"Name of the connection."}},"videoindexer-v2_Connection_Name":{"defaultValue":"videoindexer-v2","type":"String","metadata":{"description":"Name of the connection."}},"powerbi_Connection_Name":{"defaultValue":"powerbi","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('videoindexer-v2_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('powerbi_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_file_is_created_(properties_only)":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()","metadata":{"6e202211-2856-4d17-9ded-5beb8b8626b0":"/","flowSystemMetadata":{"swaggerOperationId":"OnNewFiles"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['onedriveforbusiness']['connectionId']"}},"method":"get","path":"/datasets/default/triggers/batch/onnewfile","queries":{"folderId":"6e202211-2856-4d17-9ded-5beb8b8626b0"},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_share_link":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateShareLink"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['onedriveforbusiness']['connectionId']"}},"method":"post","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Id']))}/share","queries":{"type":"Direct","scope":"Anonymous"},"authentication":"@parameters('$authentication')"}},"Get_Account_Access_Token":{"runAfter":{"Create_share_link":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-Account-Access-Token"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['videoindexer-v2']['connectionId']"}},"method":"get","path":"/auth/@{encodeURIComponent('trial')}/Accounts/@{encodeURIComponent('989ad5da-57d1-4f5c-9030-bbbc031893cd')}/AccessToken","queries":{"allowEdit":true},"authentication":"@parameters('$authentication')"}},"Upload_video_and_index":{"runAfter":{"Get_Account_Access_Token":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Upload-video"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['videoindexer-v2']['connectionId']"}},"method":"post","path":"/@{encodeURIComponent('trial')}/Accounts/@{encodeURIComponent('989ad5da-57d1-4f5c-9030-bbbc031893cd')}/Videos","queries":{"accessToken":"@body('Get_Account_Access_Token')","name":"@triggerBody()?['Name']","videoUrl":"@body('Create_share_link')?['WebUrl']","callbackUrl":""},"body":{"$content-type":"multipart/form-data","$multipart":[{"headers":{"Content-Disposition":"form-data; name=\"body\""},"body":""}]},"authentication":"@parameters('$authentication')"}},"Do_until":{"actions":{"Get_Video_Index":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Get-Video-Index"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['videoindexer-v2']['connectionId']"}},"method":"get","path":"/@{encodeURIComponent('trial')}/Accounts/@{encodeURIComponent('989ad5da-57d1-4f5c-9030-bbbc031893cd')}/Videos/@{encodeURIComponent(body('Upload_video_and_index')?['id'])}/Index","queries":{"accessToken":"@body('Get_Account_Access_Token')","language":"English"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Upload_video_and_index":["Succeeded"]},"expression":"@equals(body('Get_Video_Index')?['state'], 'Processed')","limit":{"count":300,"timeout":"PT1H"},"type":"Until"},"JSON_구문_분석":{"runAfter":{"Do_until":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_Video_Index')?['summarizedInsights']","schema":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"name":{"type":"object","properties":{"type":{"type":"string"}}},"id":{"type":"object","properties":{"type":{"type":"string"}}},"privacyMode":{"type":"object","properties":{"type":{"type":"string"}}},"duration":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"time":{"type":"object","properties":{"type":{"type":"string"}}},"seconds":{"type":"object","properties":{"type":{"type":"string"}}}}}}},"thumbnailVideoId":{"type":"object","properties":{"type":{"type":"string"}}},"thumbnailId":{"type":"object","properties":{"type":{"type":"string"}}},"faces":{"type":"object","properties":{"type":{"type":"string"}}},"keywords":{"type":"object","properties":{"type":{"type":"string"}}},"sentiments":{"type":"object","properties":{"type":{"type":"string"},"items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"sentimentKey":{"type":"object","properties":{"type":{"type":"string"}}},"appearances":{"type":"object","properties":{"type":{"type":"string"},"items":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"startTime":{"type":"object","properties":{"type":{"type":"string"}}},"endTime":{"type":"object","properties":{"type":{"type":"string"}}},"startSeconds":{"type":"object","properties":{"type":{"type":"string"}}},"endSeconds":{"type":"object","properties":{"type":{"type":"string"}}}}},"required":{"type":"array","items":{"type":"string"}}}}}},"seenDurationRatio":{"type":"object","properties":{"type":{"type":"string"}}}}},"required":{"type":"array","items":{"type":"string"}}}}}},"audioEffects":{"type":"object","properties":{"type":{"type":"string"}}},"labels":{"type":"object","properties":{"type":{"type":"string"}}},"brands":{"type":"object","properties":{"type":{"type":"string"}}},"statistics":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{"correspondenceCount":{"type":"object","properties":{"type":{"type":"string"}}},"speakerTalkToListenRatio":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{}}}},"speakerLongestMonolog":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{}}}},"speakerNumberOfFragments":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{}}}},"speakerWordCount":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object","properties":{}}}}}}}}}}}}}},"각각에_적용_2":{"foreach":"@body('JSON_구문_분석')?['keywords']","actions":{"JSON_구문_분석_2":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('각각에_적용_2')","schema":{"type":"object","properties":{"isTranscript":{"type":"boolean"},"id":{"type":"integer"},"name":{"type":"string"},"appearances":{"type":"array","items":{"type":"object","properties":{"startTime":{"type":"string"},"endTime":{"type":"string"},"startSeconds":{"type":"number"},"endSeconds":{"type":"number"}},"required":["startTime","endTime","startSeconds","endSeconds"]}}}}}},"데이터_세트에_행_추가":{"runAfter":{"JSON_구문_분석_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddRows"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['powerbi']['connectionId']"}},"method":"post","body":{"id":"@{body('JSON_구문_분석_2')?['id']}","name":"@body('JSON_구문_분석_2')?['name']"},"path":"/v1.0/myorg/groups/@{encodeURIComponent('99e398a5-e3a2-4ec4-88fe-98c2b4d5f885')}/datasets/@{encodeURIComponent('8fbca70f-28d3-4bae-8856-1f2d5f4c46a6')}/tables/@{encodeURIComponent('RealTimeData')}/rows","queries":{"pbi_source":"powerAutomate"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"JSON_구문_분석":["Succeeded"]},"type":"Foreach"}},"outputs":{},"description":"미팅 영상 데이터 분석 자동화 로직"},"parameters":{"$connections":{"value":{"onedriveforbusiness":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]","connectionName":"[parameters('onedriveforbusiness_Connection_Name')]"},"videoindexer-v2":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'videoindexer-v2')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('videoindexer-v2_Connection_Name'))]","connectionName":"[parameters('videoindexer-v2_Connection_Name')]"},"powerbi":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'powerbi')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('powerbi_Connection_Name'))]","connectionName":"[parameters('powerbi_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-9B6E2028FC3D4CD5B44E990D370DC5C2"}},"integrationAccount":{"name":"8a3f6effe98443ccb7b4d1463d4de63f-westus","id":"subscriptions/8e6da3c0-bbc1-470c-a58b-7ff1446f63d7/resourceGroups/8a3f6effe98443ccb7b4d1463d4de63f-ia/providers/Microsoft.Logic/integrationAccounts/8a3f6effe98443ccb7b4d1463d4de63f-westus","type":"Microsoft.Logic/integrationAccounts"}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('onedriveforbusiness_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]"},"displayName":"[parameters('onedriveforbusiness_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('videoindexer-v2_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'videoindexer-v2')]"},"displayName":"[parameters('videoindexer-v2_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('powerbi_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'powerbi')]"},"displayName":"[parameters('powerbi_Connection_Name')]"}}]}